# make and build files
/V_base/Makefile
/V_base/Makefile.in
*.lst
*.o
*.eep
*.lss
*.map
*.sym
/V_base/build-aux/*
/V_base/Examples_loader/*
/V_base/.deps/*
/V_base/autom4te.cache/*
/V_base/config.log
/V_base/config.status
/V_base/m4

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
